.customToggle {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s ease-in-out;
  z-index: 200; // High z-index to ensure it’s above conflicting elements
}

.flipped {
  transform: rotateY(180deg); // Flip animation for the toggle element
}

.overlayIcon {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circleMenuItem {
  transition: transform 0.3s ease-in-out;
}

.circleMenuItem:hover {
  transform: scale(1.1);
}
