.CircleModal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--modals-bg-color);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 8px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
}

.header {
  justify-content: space-between;
  padding-bottom: 12px;
}

.headerString {
  display: flex;
  justify-content: center;
}
.controlButtons {
  display: flex;
  align-items: center;
  gap: 8px;
}

.collapseButton,
.closeButton {
  width: 30px;
  height: 30px;
  color: var(--text-tertiary);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: transform 0.2s ease;

  &:hover {
    transform: scale(1.1);
  }
}

.collapseButton {
  background-color: var(--secondary-color);
  color: var(--inverted-bg-color);
}

.closeButton {
  background-color: var(--inverted-bg-color);
  color: var(--secondary-color);
}

.drag-handle {
  cursor: grab;
}

@media (max-width: 768px) {
  .CircleModal {
    min-width: 90vw;
    min-height: 90vh;
    padding: 8px;
  }
}

@media (max-width: 480px) {
  .CircleModal {
    min-width: 100vw;
    min-height: 100vh;
    padding: 4px;
  }
}
