.CircleModal {
  width: 100%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 12px;
}

.header {
  height: 50px;
  padding: 10px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  justify-content: space-between;
  background-color: var(--modals-bg-color);
}

.contentCard {
  flex-grow: 1;
  display: flex;
  border-top: none;
  box-shadow: inset 0 1px 0 0 var(--modals-bg-color);
  // background-color: var(--modals-bg-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.headerString {
  display: flex;
  justify-content: center;
}
.controlButtons {
  align-items: center;
  gap: 8px;

  .collapseButton,
  .closeButton {
    width: 30px;
    height: 30px;
    color: var(--text-tertiary);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  .collapseButton {
    background-color: var(--inverted-bg-color);
    color: var(--accent-color);
  }

  .closeButton {
    background-color: var(--inverted-bg-color);
    color: var(--cancel);
  }
}

.drag-handle {
  cursor: grab;
}
