@import "./variables/theme";
@import "./variables/global.scss";
@import "./reset.scss";

.app {
  background: var(--stars-bg-color);
  color: var(--text-color);
  font-family: var(--font-family-text);
  overflow: hidden;
  height: 100vh;
}

.content {
  height: 100vh;
  width: 98vw;
  margin: 2vh;
}

.navbar {
  position: absolute;
  margin: 10px;
}
