{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],

  "importOrder": ["<THIRD_PARTY_MODULES>", "^\\.{2}/", "^\\./"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true,

  "overrides": [
    {
      "files": ["client/**/*.{js,jsx,ts,tsx}"],
      "options": {
        "importOrder": [
          "^.+\\.scss$",
          "<THIRD_PARTY_MODULES>",
          "^@mui/icons-material/(.*)$",
          "^@/shared/assets",
          "^@/shared/(.*)$",
          "^@/(app|entities|features|pages|widgets)(/.*)?$",
          "^\\.{2}/",
          "^\\./"
        ]
      }
    },
    {
      "files": ["server/**/*.{js,jsx,ts,tsx}"],
      "options": {
        "importOrder": [
          "<THIRD_PARTY_MODULES>",
          ".*/utils/logger\\.js$",
          ".*/index\\.js$",
          ".*/utils/(.*)$",
          ".*/middleware/(.*)$",
          ".*/services/(.*)$",
          "^\\.{2}/",
          "^\\./"
        ]
      }
    }
  ]
}
