{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": false,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "avoid",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^.+\\.scss$",
    "<THIRD_PARTY_MODULES>",
    "^@mui/icons-material/(.*)$",
    "^@/shared/assets",
    "^@/shared/(.*)$",
    "^@/(app|entities|features|pages|widgets)(/.*)?$",
    "^\\.{2}/",
    "^\\./"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrderGroupNamespaceSpecifiers": true,
  "importOrderCaseInsensitive": true
}
