.UserListCard {
  align-items: center;
  opacity: 1;
  padding: 0 16px;

  .username {
    flex: 0 0 80px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .buttons {
    margin-left: auto;

    .chatButtonBorder {
      border: 3px solid var(--primary-color);
      border-radius: 50%;

      .chatButton {
        background-color: var(--buttons-bg-color);
        border: 3px solid var(--secondary-color);
        border-radius: 50%;
      }
    }
  }
}

.collapsed {
  padding: 0 8px;
}
