.ChatMessage {
  display: flex;
  padding-inline: 20px;
  max-width: 60%;
}

.chatMsg {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 100%;
}

.chatMsg.user {
  flex-direction: row;
}

.chatMsg.self {
  margin-left: auto;
  flex-direction: row-reverse;
}

.msgAvatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cmMsgText {
	padding-block: 10px;
  max-width: 75%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
}
