.ChatMessage {
  display: flex;
  padding-inline: 20px;
  max-width: 60%;
}

.chatMsg {
  display: flex;
  align-items: center;
  gap: 10px; /* Space between avatar and message */
  max-width: 100%;
}

.chatMsg.user {
  flex-direction: row; /* Default left-to-right */
}

.chatMsg.self {
	margin-left: auto;
  flex-direction: row-reverse; /* Right-to-left for user’s own messages */
}

.msgAvatar img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.cmMsgText {
  background: var(--text);
  padding: 10px 15px;
  color: var(--text-dark);
  max-width: 75%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  border-radius: 20px;
}

.chatMsg.self .cmMsgText {
  background: var(--accent-color);
  color: var(--text);
}
