.yesButton {
  background-color: var(--accent-color);
  color: var(--white-color-1);
}

.noButton {
  background-color: var(--cancel-color);
  color: var(--white-color-1);
}

.skipButton {
  background-color: var(--main-bg-color);
  color: var(--white-color-1);
}

.gameIcon {
  background-color: var(--buttons-bg-color);
  border: 3px solid var(--primary-color);
  border-radius: 50%;
}
