.fillWhite {
  fill: var(--white-color);
  color: var(--white-color);
}

.fillBlack {
  fill: var(--black-color);
  color: var(--black-color);
}

.fillPrimary {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.strokeWhite {
  stroke: var(--text-redesigned);
  color: var(--text-redesigned);
}

.strokeBlack {
  stroke: var(--bg-color);
  color: var(--bg-color);
}

.strokePrimary {
  stroke: var(--primary-color);
  color: var(--primary-color);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .icon {
  color: var(--accent-color);
}

.icon {
  transition: all 0.3s ease;
}

.highlighted {
  filter: brightness(1.5) drop-shadow(0 0 10px var(--accent-color));
}
