//TODO:Update vars in this file
.fillWhite {
  fill: var(--white-color);
  color: var(--white-color);
}

.fillBlack {
  fill: var(--black-color);
  color: var(--black-color);
}

.fillPrimary {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.strokeWhite {
  stroke: var(--text-color);
  color: var(--text-color);
}

.strokeBlack {
  stroke: var(--main-bg-color);
  color: var(--main-bg-color);
}

.strokePrimary {
  stroke: var(--primary-color);
  color: var(--primary-color);
}

.button {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  background: none;
  cursor: pointer;
}

.button:hover .icon {
  color: var(--accent-color);
}

.icon {
  transition: all 0.3s ease;
}
