.fillWhite {
  fill: var(--white-color);
  color: var(--white-color);
}

.fillBlack {
  fill: var(--black-color);
  color: var(--black-color);
}

.fillPrimary {
  fill: var(--primary-color);
  color: var(--primary-color);
}

.strokeWhite path {
  stroke: var(--white-color);
  color: var(--white-color);
}

.strokeBlack {
  stroke: var(--black-color);
  color: var(--black-color);
}

.strokePrimary {
  stroke: var(--primary-color);
  color: var(--primary-color);
}

.pointer {
  cursor: pointer;
}
