
.textarea {
	
	width: 80%; // Make it fill the container
	min-height: 40px;
	max-height: 150px; // Set the maximum height to 150px

	box-sizing: border-box; // Include padding and border in the width and height
// Disable manual resizing
	overflow-y: auto; // Allow scrolling inside
	line-height: 20px;
	
	background-color: var(--background-color, #fff); // Fallback if --background-color is not defined
	color: var(--primary-text-color);
}

.ChatInput {
  background: var(--dark-bg-redesigned);
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  border-top: none;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chatInputField {
	display: block;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: none;
	resize: none; 
	padding: 8px;
	padding-right: 14%;
	min-height: 40px;
	max-height: 150px;
	caret-color: var(--primary-color);
  background: var(--dark-bg-redesigned);
  color: var(--text-color);
  font-size: 16px;
  caret-color: var(--accent-color);
	transition: height 0.2s ease-in-out;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.chatInputField:focus {
  outline: var(--accent-color);
}

.sendButton {
  position: absolute;
	cursor: pointer;
  top: 10px;
  right: 10px;
  background: transparent;
  box-shadow: none;
  border: none;
  border-radius: 50%;
  color: var(--accent-color);
  width: 35px;
  height: 35px;
	z-index: 10;
}