.highlight {
  border: 3px solid transparent;
  border-radius: 50%;
  box-shadow: 0 0 30px transparent;
}

.highlight-active {
  border-color: var(--active);
  box-shadow: 0 0 30px var(--active);
}

.highlight-invited {
  border-color: var(--secondary-color);
  box-shadow: 0 0 30px var(--secondary-color);
}
