.highlight-active {
  border: 3px solid var(--active);
  border-radius: 50%;
  box-shadow: 0 0 30px var(--active);
}

.highlight-invited {
  border: 3px solid var(--secondary-color);
  border-radius: 50%;
  box-shadow: 0 0 30px var(--secondary-color);
}
