.s {
  font: var(--font-s);
}

.m {
  font: var(--font-m);
}

.l {
  font: var(--font-l);
}

.xl {
  font: var(--font-xl);
}

.xxl {
  font: var(--font-xxl);
}

.bold {
  font-weight: 700;
}

.dimmed {
  color: var(--text-tertiary-color);
}

.max {
  width: 100%;
}

.font-family-main {
  font-family: var(--font-family-main);
}

.font-family-monospace {
  font-family: var(--font-family-monospace);
}

.font-family-text {
  font-family: var(--font-family-text);
}

.font-family-header {
  font-family: var(--font-family-header);
}

.error {
  color: var(--cancel-color);
}

.black {
	color: var(--black-text-color)
}
