.Input {
  border: 1px solid var(--input-border);
  border-radius: 5px;
  background-color: var(--input-bg);
  color: var(--text-redesigned);
  font-size: 16px;
  display: block;
  width: 100%;
  padding: 8px 12px;
  outline: none;

  &:hover,
  &:focus {
    border: 1px solid var(--primary-color);
  }
}
