.userList {
	display: flex;
	overflow-y: auto;
	height: 80vh;
	padding-bottom: 20px;
}
.UserList {
	display: flex;
	height: 80vh;
}

//Scrollbar styles
.userList::-webkit-scrollbar {
  width: 5px;
}


.userList::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
	margin-top: 20px;
	margin-bottom: 50px;
	border-radius: 30px;
	
}

.userList::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-image: var(--sidebar-scrollbar-color);
}

