.userList {
  display: flex;
  overflow-y: auto;
  height: 80vh;
  padding-bottom: 20px;
}
.UserList {
  display: flex;
  height: 80vh;
}

//Scrollbar styles
.userList::-webkit-scrollbar {
  width: 5px;
}

.userList::-webkit-scrollbar-track {
  margin-top: 20px;
  margin-bottom: 50px;
  margin-right: 500px;
}

.userList::-webkit-scrollbar-thumb {
  border-radius: 30px;
  background-image: var(--sidebar-scrollbar-color);
}

hr {
  width: calc(100% - 40px);
  opacity: 0.1;
  margin: 0 20px;
}
