body {
  // main colors
  --primary-color: #5916f3;
  --modals-bg-color: #563a82;
  --secondary-color: #ff932a;
  --secondary-bleak-color: #f7a154;
  --accent-color: #5a5eb9;
  --helpers-color: #fefbf3;
  --highlight-color: #bfbaff;
  --cancel-color: #d95757;
  --active-game-color: #6cd98b;

  // bg
  --stars-bg-color: linear-gradient(#16161d, #1f1f3a, #3b2f4a);
  --dark-bg-color: #191919;
  --light-bg-color: #151c1f;

  // card
  --card-bg-color: #222;
  --blurred-background-color: rgba(255, 255, 255, 0.1);
  --blurred-border-color: rgba(255, 255, 255, 0.3);

  // indicators
  --online-color: #30f94b;
  --unread-color: var(--cancel-color);

  // buttons
  --buttons-bg-color: var(--helpers-color);

  // input
  --input-border-color: #767676;
  --input-bg-color: #424243;

  // text
  --text-color: #fff;
  --text-secondary-color: #fbf8f3;
  --text-tertiary-color: #9f9f9f;

  // scrollbar
  --sidebar-scrollbar-color: linear-gradient(
    180deg,
    var(--modals-bg-color) 0%,
    var(--blurred-border-color) 99%
  );
  --chat-scrollbar-color: var(--accent-color);

  // skeleton
  --skeleton-bg-color: linear-gradient(
    110deg,
    #1e1e38 8%,
    #29294d 18%,
    #1e1e38 33%
  );
}
