body {
  --bg-color: #191919;
  --inverted-bg-color: #e8e8ea;
  --primary-color: #5916f3;
  --modals-bg-color: #a59eff;
  --secondary-color: #f7a154;
  --inverted-primary-color: #257;
  --inverted-secondary-color: #0ebeff;
  --accent-color: #5a5eb9;
  --card-bg-color: #222;

  // redesigned
  --highlight: #bfbaff;
  --light-bg: #151c1f;
  --dark-bg-redesigned: #191919;
  --text-redesigned: #fff;
  --text-secondary: #fbf8f3;
  --text-tertiary: #9f9f9f;
  --input-border: #767676;
  --input-bg: #424243;
  --hint-redesigned: #555;
  --cancel-redesigned: #d95757;
  --save-redesigned: #6cd98b;

  // skeleton
  --skeleton-color: #1515ad;
  --skeleton-shadow: #2b2be8;

  // code
  --code-bg: #353642;

  // listbox
  --listbox-bg: #353642;
}
