.Sidebar {
  position: relative;
  width: 390px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 80svh;
  transition: width 0.3s;
  top: 50px;

  .collapseBtn {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 10;
    transform: rotate(90deg);
    color: var(--inverted-bg-color);
  }
}

.collapsed {
  width: 115px;

  .collapseBtn {
    transform: rotate(-90deg);
    right: -10px;
  }
}

//Scrollbar styles
.Sidebar::-webkit-scrollbar-track {
  margin-top: 30px;
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: var(--bg-color);
}

.Sidebar::-webkit-scrollbar {
  width: 5px;
  background-color: var(--dark-bg);
}

.Sidebar::-webkit-scrollbar-thumb {
  border-radius: 30px;
  // background-color: var(--accent-color);
  background-image: linear-gradient(
    180deg,
    var(--modals-bg-color) 0%,
    var(--blurred-border) 99%
  );
}
