.Sidebar {
  position: relative;
  display: flex;
  width: 342px;
  overflow: hidden;
  max-height: 80svh;
  transition: width 0.3s;
  top: 50px;

  .collapseBtn {
    position: absolute;
    right: 0px;
    top: 50%;
    z-index: 10;
    transform: rotate(90deg);
    color: var(--inverted-bg-color);
  }
}

.collapsed {
  width: 115px;

  .collapseBtn {
    transform: rotate(-90deg);
    right: -10px;
  }
}
