.Sidebar {
  position: relative;
  width: 410px;
  overflow-x: hidden;
  overflow-y: hidden;
  max-height: 80svh;
  transition: width 0.3s;
  top: 50px;

  .collapseBtn {
    position: absolute;
    right: -5px;
    top: 50%;
    z-index: 10;
    transform: rotate(90deg);
    color: var(--buttons-bg-color);
  }
}

.collapsed {
  width: 135px;

  .collapseBtn {
    transform: rotate(-90deg);
    right: -10px;
  }
}
