.Card {
  position: relative;
  display: flex;
}

.max {
  width: 100%;
}

// variants
.default {
  background: var(--card-bg-color);
}

.light {
  background: var(--light-bg-color);
}

.accent {
	background: var(--accent-color);
}

.border_style_default {
  border: 1px solid var(--accent-color);
}

.border_style_matte {
  border: 7px solid var(--modals-bg-color);
}

.blurred {
  border: 1px solid var(--blurred-border-color);
}

// gap
.padding_0 {
  padding: 0;
}

.padding_8 {
  padding: 8px;
}

.padding_16 {
  padding: 16px;
}

.padding_24 {
  padding: 24px;
}

.padding_32 {
  padding: 32px;
}

.padding_45 {
  padding: 45px;
}

.padding_60 {
  padding: 60px;
}

// border
.border_round {
  border-radius: 40px;
}

.border_default {
  border-radius: 12px;
}

.border_none {
  border-radius: 0;
}
